<div class="mt-4">
    <h3>Khoá học đã xoá</h3>
    <a href="/me/stored/posts">Quay lại danh sách bài đăng</a>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên bài</th>
                <th scope="col">Trình độ</th>
                <th scope="col">Thời gian xoá</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each posts}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.deletedAt}}</td>
                <td>
                    <a href="" class="btn btn-dark btn-restore" data-id="{{this._id}}">Khôi phục</a>
                    <a href="" class="btn btn-dark" data-toggle="modal" data-id="{{this._id}}"
                        data-target="#delete-post-dialog">Xoá vĩnh viễn</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Thùng rác trống.
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Confirm delete --}}
<div id="delete-post-dialog" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xoá bài đăng?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Hành động này không thể khôi phục. Bạn vẫn muốn xoá?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-post" type="button" class="btn btn-danger">Xoá vĩnh viễn</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
            </div>
        </div>
    </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-post-form" method="POST"></form>
<form name="restore-post-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {

        var postID;
        var deleteForm = document.forms['delete-post-form'];
        var restoreForm = document.forms['restore-post-form'];
        var btnDeletePost = document.getElementById('btn-delete-post');
        var restoreBtn = $('.btn-restore');

        // When dialog confirm clicked
        $('#delete-post-dialog').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            postID = button.data('id');
            //console.log(id);
        });
        
        //console.log(btnDeletePost)
        btnDeletePost.onclick = function() {
            deleteForm.action = '/posts/' + postID + '/force-delete?_method=DELETE';
            deleteForm.submit();
        }

        // Restore btn clicked
        restoreBtn.click(function(e) {
            e.preventDefault();
            var postID = $(this).data('id');
            restoreForm.action = '/posts/' + postID + '/restore?_method=PATCH';
            restoreForm.submit();
        });

    });
</script>